# requirements.txt files are used to specify Python package dependencies.
# Version pins aid reproducibility and fresh re-installs.
# Tighter version pins i.e. '==' rather than '>=' aid reproducibility, but,
# in the Wild West of Python packaging, nothing is guaranteed...

# Common numerical computing libraries.
numpy>=1.25
pandas>=2.0.2
scipy>=1.9.1
matplotlib
seaborn

# Common extras I frequently use.
beartype>=0.14 # Lightweight runtime type-checking.
tqdm>=4.64.1 # Make your for-loops show a smart progress meter.
ray[default]>=2.9.2 # Framework for parallel computing in Python.
numba>=0.56.4 # JIT Compiler for numerical Python code: https://numba.pydata.org/
python-dotenv[cli]>=1.0.1 # Load secret environment variables from a '.env' file (kept out of version control).

# Hydra packages - For configuring scripts.
hydra_core>=1.3.2 # Elegant application configuration from CLI + YAML files.
hydra_colorlog>=1.2.0 # Hydra extension for colorful log outputs.
hydra-ray-launcher

torch
torchvision
wandb
